{% extends 'base.html' %}
{% block title %}Success | NGO CMS{% endblock %}

{% block content %}

<div class="container py-5 text-center">

    <div class="col-md-6 mx-auto">

        <div class="card shadow border-0 rounded-4 p-5">

            <h1 class="text-success fw-bold">Thank You ❤️</h1>

            <p class="text-muted mt-3">
                Your donation was successful and will help many lives.
            </p>

            <a href="/"
               class="btn btn-success mt-3 px-4">
               Go Home
            </a>

        </div>

    </div>

</div>

{% endblock %}